.main {
  /* min-height: 100vh; */
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
.mainImage {
  margin-inline: auto;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  padding: 16px 0;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
}
.products {
  margin: 25px;
  border-radius: 10px;
  border: 1px solid rgb(62, 62, 62);
  background-color: rgb(62, 62, 62);
  padding: 25px;
  text-align: center;
  transition: transform 0.5s ease;
}
.products:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.links {
  display: flex;

  align-items: center;
}
.navlink {
  list-style: none;
  margin: 0 0.75rem;
  text-transform: uppercase;
}
.navlink a {
  text-decoration: none;
  color: white;
}
.navlink a:hover {
  color: #f9826c;
}
.altImage {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
.altImage2 {
  display: flex;
  padding-top: 16px;
}

.image {
  margin-inline: auto;
}

.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  margin-inline: auto;
  margin-top: 5rem;
}

.container2 {
  width: 80%;
  margin-inline: auto;
}
.leftProductC {
  margin-inline: auto;
}
.button {
  border: 1px solid green;
  padding: 10px 35px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: green;
}
.backButton {
  border: 1px solid white;
  width: 300px;
  padding: 5px 25px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
